* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: rgb(32, 30, 30);
    font-family: 'Roboto', sans-serif;
    color: black;
}
ul {
    list-style-type: none;
}
button {
    all: unset;
    margin: 1em;
}
a, button {
    color: rgb(212, 25, 25);
    text-decoration: none;
    font-size: 1em;
}
button:active {
    border: none;
}
a:hover, button:hover {
    color: rgb(185, 146, 146);
}
.active {
    color: black;
}
input {
    border: none;
    font-size: 0.9em;
}

/* Main header */
.main-header {
    border-bottom: 2px solid rgba(216, 213, 213, 0.699);
    background-color: white;
}
.main-header div {
    text-align: center;
}
.main-header div img {
    padding: 0;
}
.main-header div h1 {
    margin-bottom: 0.5em;
    font-family: 'Karla', sans-serif;
    font-size: 3em;
}
.main-header a {
    font-size: 1.4em;
}
nav {
    padding: 1em;
}
nav img{
    display: block;
}
.desktop {
    display: none;
}
/* Mobile nav menu */
.mobile-nav-items {
    display: none;
}
.show-menu  ul{
    padding-left:0;
    font-size: 1.5em;
    text-align: left;
}
.show-menu {
    display: inline-block;
    padding-top: 1em;
    margin: 0;
}

/* Articles */
article {
    background-color: white;
    margin: 1em;
    box-shadow: 2px 2px 7px rgba(206, 170, 93, 0.568);
}
.article-header div {
    display: inline-block;
    font-style: italic;
    padding: 0 0.3em 0.2em 0em;
}
.article-header > div {
    width: 70%;
    border-bottom: 1px solid black;
    margin: 0.5em 0 1em 1.4em;
}
.article-header h1 {
    padding: 1em 1em 0 1em;
}
.article-header a {
    font-style: italic;
}
p {
    padding: 0 0.7em 1em;
    font-size: 1.1em;
}
/* Show more or less content -> classes */
.article-content {
    height: 4.6em;
    overflow: hidden;
}
.article-content.show {
    height: 100%;
}
.content-hide {
    display: none;
}
article figure > img {
    width: 100%;
}


/* Media Queries */
@media only screen and (min-width: 700px) {
    .main-grid-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
    }

    /* Main header */
    .mobile {
        display: none;
    }    
    .main-header div {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .main-header div h1 {
        font-size: 4em;
    }
    .desktop {
        display: initial;
    }
    .desktop ul {
        display: flex;
        justify-content: center;
    }
    .desktop ul li {
        padding: 0 0.5em;
        font-size: 1em;
    }

    /* Articles */
    figure {
        height: 15em;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .categories article {
        width: 80%;
        margin: 2em auto;
    }
    p {
        padding: 0 1em 1em;
    }
}

@media only screen and (min-width: 900px) {
    .main-grid-index {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Articles */ 
    .categories article {
        width: 50%;
    }
}

